<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="<%= subdir %>css/style.css">
    <title><%= config.name %></title>

    <link rel="stylesheet" href="<%= subdir %>css/fontawesome/all.min.css">

    <link rel="stylesheet" href="<%= subdir %>css/bootstrap/bootstrap-icons.min.css">
    <link rel="stylesheet" href="<%= subdir %>css/bootstrap/bootstrap.min.css">
</head>
<body class="bg-color">